<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        /r/ <%= name %>
    </title>
    <link rel="stylesheet" href="/app.css">
</head>

<body>
    <h1>Browsing The <%= name %> subreddit</h1>
    <h2>
        <%= description %>
    </h2>
    <p>
        <%= subscribers %>
    </p>
    <hr>
    <% for(let post of posts){ %>
        <article style="background-color: gray; min-height: 200px;">
            <h1>
                <%= post.title %>
            </h1>
            <h2>
                <%= post.author %>
            </h2>
            <% if(post.img){ %>
                <img src=<%=post.img %> alt="">
                <% } %>
        </article>
        <% } %>

</body>

</html>